.navbar-link {
  background-color: #6366f1; /* Equivalent to bg-indigo-500 */
  color: white;
  padding: 0.5rem 1rem; /* Equivalent to px-4 py-2 */
  border-radius: 0.375rem; /* Equivalent to rounded */
  transition: background-color 0.2s ease-in-out;
}

.navbar-link:hover {
  background-color: #4f46e5; /* Equivalent to hover:bg-indigo-600 */
}

.home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain; /* or cover */
  padding: 20px;
  text-decoration: none;
  color: white; /* Adjust text color for better visibility */
}
